MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=lattice-test

FIREBASE_CREDENTIALS_PATH=firebase-service-account.json
FIREBASE_API_KEY=your-firebase-web-api-key
